.container {
  position: relative;
  display: inline-block;
  background-color: red;
  padding-top: 154.24%; /* aspect ratio of 1.5424 */
  width: 100%;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--mid-grey);
  object-fit: cover;
  cursor: pointer;
}

.details-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-bottom: 10px solid var(--light-red);
}

.details-container:hover {
  background-color: var(--black-opaque);
}

.details-container.favourite {
  border: 10px solid var(--light-red);
}

.details-container:hover .title {
  display: block;
}

.title {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  right: 0;
  width: 100%;
  background-color: white;
  padding: 0.5em;
  margin: 0;
  font-weight: 600;
  color: var(--grey);
  word-break: break-word;
}

.like {
  position: absolute;
  top: 0;
  right: 0;
}

.like:not(.details-container.favourite .like) {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}
